.btn-info {
    background-color: #1f99d5;
    border-color: #0e76bc;
}

.btn-info :hover {
    background-color: #25aae1;
}

#toc.affix {
  position: fixed;
  top: 20px;
}

.row.header {
    border-bottom: 1px solid #25aae1;
    margin-bottom: 30px
}

.row.overview {
    margin-bottom: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #ccccff;
    font-size: 120%;
}

.row.overview.noborder {
    border-bottom: none;
}

.row.overview h3 {
    margin-top: 0;
}

.row.overview img {
    display: block;
    margin: auto;
}