*.swp
*.pyc
_site
_publish

.bundle/
.gem/
vendor/
.jekyll-cache/
.jekyll-metadata

# htmlproof creates this tmp dir
tmp

# Files which can be left around when swithching
# between the gh-pages and source branches.
thirdparty/
www/