*.pb.cc
*.pb.h
*.a
*.o

Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
TAGS
tags
cscope.*
Testing
perf.data
perf.data.old
oprofile_data
*.service.cc
*.service.h
*.proxy.cc
*.proxy.h
build/
.ycm_extra_conf.py
.ycm_extra_conf.pyc
*.kdev4
.kdev4/
.metadata/
*.iml

# VIM/emacs stuff
*.swp
*~

# IDE cruft
.settings/
.idea/
nbproject/
.project
.cproject
.csettings/
