# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

# Most common in-tree build directory.
#
# Note: build output files are not explicitly listed here because they are
# expected to fall within in the build directory (and indeed, if they're
# outside for some reason, we want to know as it's likely an error).
build/

perf.data
perf.data.old
oprofile_data
.ycm_extra_conf.pyc
*.kdev4
.kdev4/
.metadata/
*.iml
README.html

# macOS-specific cruft
.DS_Store

# VIM/emacs/other editors stuff
*.swp
*.autosave
*~

# IDE cruft
.settings/
.idea/
nbproject/
.project
.cproject
.csettings/

# WWW dependencies which are not checked in directly
www/tracing.*

# Python
python/kudu/*.so
python/kudu/*.cpp
*.py[ocd]
