<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="A new open source Apache Hadoop ecosystem project, Apache Kudu (incubating) completes Hadoop's storage layer to enable fast analytics on fast data" />
    <meta name="author" content="Cloudera" />
    <title>Apache Kudu (incubating) - {{ page.title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{site.github.url}}/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{site.github.url}}/css/justified-nav.css" rel="stylesheet" />

    <link href="{{site.github.url}}/css/kudu.css" rel="stylesheet"/>
    <link href="{{site.github.url}}/css/asciidoc.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{site.github.url}}/img/logo-favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>
  <body>
    <!-- Fork me on GitHub -->
    <a class="fork-me-on-github" href="https://github.com/cloudera/kudu"><img src="//aral.github.io/fork-me-on-github-retina-ribbons/right-cerulean@2x.png" alt="Fork me on GitHub" /></a>

    <div class="kudu-site container-fluid">

      <!-- Static navbar -->
        <nav class="container-fluid navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {% if page.active_nav != 'home' %}
            <a class="logo" href="{{site.github.url}}/"><img src="{{site.github.url}}/img/logo_small.png" width="80" /></a>
            {% endif %}
          </div>
          <div id="navbar" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
              <li {% if page.active_nav == 'home' %}class="active"{% endif %}>
                <a href="{{site.github.url}}/">Home</a>
              </li>
              <li {% if page.active_nav == 'overview' %}class="active"{% endif %}>
                <a href="{{site.github.url}}/overview.html">Overview</a>
              </li>
              <li {% if page.active_nav == 'docs' %}class="active"{% endif %}>
                <a href="{{site.github.url}}/docs/">Documentation</a>
              </li>
              <li {% if page.active_nav == 'download' %}class="active"{% endif %}>
                <a href="{{site.github.url}}/releases/">Download</a>
              </li>
              <li {% if page.active_nav == 'contributing' %}class="active"{% endif %}>
                <a href="{{site.github.url}}/contributing.html">Contributing</a>
              </li>
              <li {% if page.active_nav == 'community' %}class="active"{% endif %}>
                <a href="{{site.github.url}}/community.html">Community</a>
              </li>
              <li {% if page.active_nav == 'faq' %}class="active"{% endif %}>
                <a href="{{site.github.url}}/faq.html">FAQ</a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </nav>
