include LICENSE.txt
include MANIFEST.in
include README.md
include setup.py
include version.txt

graft kudu

global-exclude *.so
global-exclude *.pyc
global-exclude *~
global-exclude \#*
global-exclude .git*
global-exclude .DS_Store
