---
layout: default
active_nav: blog
---

<div class="row header">
  <div class="col-lg-12">
    <h2><a href="{{ site.github.url }}/blog">Apache Kudu (incubating) Blog</a></h2>
  </div>
</div>

<div class="row-fluid">
  <div class="col-lg-9">
    {{content}}
  </div>
  <div class="col-lg-3 recent-posts">
    <h3>Recent posts</h3>
    <ul>
    {% for post in site.posts offset: 0 limit: 15 %}
      <li> <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a> </li>
    {% endfor %}
    </ul>
  </div>
</div>
